end
dist
GP/GP1/parsec.ini
GP/GP5/parsec.ini
GP/GP6/parsec.ini
GP/GP7/parsec.ini
GP/GP9/parsec.ini
GP/GP10/parsec.ini
node_modules

# Tauri / Rust build artifacts
src-tauri/target
src-tauri/gen/schemas
